/*

Media Queries Manager

0 - 600px 				Phone
600px - 900px			Tablet Potrait
900px - 1200px			Tablet landscapes
1200px - 1800px			Desktops
1800px +			Big Desktops

$breakpoint argument choices
-ph
-tbport
-tbland
-bddesk

1em=16px  Default by browser
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1200px */
  /* 900px */
  /*1800px */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /* 900px */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    margin-left: 1.1rem;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 600px */ }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out;
    /* 600px */ }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  cursor: pointer;
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.u-margin-top-huge {
  margin-top: 10rem !important;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 7rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 3rem !important; } }

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-image-content {
    height: 100%;
    width: 100%;
    background-image: url(../img/nat-1-large.jpg);
    background-size: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-green {
  background-color: #55c57a;
  color: #fff; }
  .btn-green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  /* 900px */ }
  .card .side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card .side-front {
      background-color: #fff; }
    .card .side-rear {
      transform: rotateY(180deg); }
      .card .side-rear-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card .side-rear-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card .side-rear-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .side-front {
    transform: rotateY(-180deg); }
  .card:hover .side-rear {
    transform: rotateY(0); }
  .card .picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card .picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card .picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card .picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card .heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card .heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card .heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card .heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card .heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card .details {
    padding: 3rem; }
    .card .details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card .details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card .details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card .cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card .price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card .price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card .price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      background-color: #fff; }
      .card .side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card .side-rear {
          transform: rotateY(0);
          -moz-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          -ms-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          -o-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card .details {
        padding: 1rem 3rem; }
      .card:hover .side-front {
        transform: rotateY(0); }
      .card .cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card .price-box {
        margin-bottom: 3rem; }
      .card .price-value {
        font-size: 4rem;
        font-weight: 300; } }

.composition {
  position: relative; }
  .composition .photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    /* 900px */ }
    @media (min-width: 900px) {
      .composition .photo {
        outline-offset: 1rem; } }
    @media (min-width: 1200px) {
      .composition .photo {
        outline-offset: 2rem; } }
    @media (max-width: 56.25em) {
      .composition .photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition .photo-p1 {
      left: 0;
      top: -2rem;
      /* 900px */ }
      @media (max-width: 56.25em) {
        .composition .photo-p1 {
          top: 1rem;
          transform: scale(1); } }
    .composition .photo-p2 {
      right: 0;
      top: 2rem;
      /* 900px */ }
      @media (max-width: 56.25em) {
        .composition .photo-p2 {
          top: -1rem;
          transform: scale(1.2);
          z-index: 100; } }
    .composition .photo-p3 {
      left: 20%;
      top: 10rem;
      /* 900px */ }
      @media (max-width: 56.25em) {
        .composition .photo-p3 {
          top: 1rem;
          left: 0;
          transform: scale(1); } }
    @media (min-width: 900px) {
      .composition .photo:hover {
        outline: 1rem solid #55c57a;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
        z-index: 2; } }
    @media (min-width: 1200px) {
      .composition .photo:hover {
        outline: 1.5rem solid #55c57a; } }
  @media (min-width: 900px) {
    .composition:hover .photo:not(:hover) {
      transform: scale(0.95); } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box .icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .feature-box .icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
  /* 1200px */ }
  @media (max-width: 75em) {
    .form-input {
      width: 100%; } }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form-input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-label {
  margin-left: 2rem;
  margin-top: .7rem;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  transition: all .3s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  width: 49%;
  display: inline-block;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .form-radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form-radio-input {
  display: none; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form-radio-buttons {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form-radio-buttons::after {
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form-radio-input:checked ~ .form-radio-label .form-radio-buttons::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup-content {
    background-color: #fff;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
    /* 1200px */
    /* 900px */
    /* 600px */ }
    @media (max-width: 75em) {
      .popup-content {
        width: 100%; } }
    @media (max-width: 56.25em) {
      .popup-content {
        width: 75%; } }
    @media (max-width: 37.5em) {
      .popup-content {
        width: 90%; } }
  .popup-left {
    width: 33.33333%;
    display: table-cell;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .popup-left {
        display: none;
        visibility: hidden; } }
  .popup-right {
    width: 66.66667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    /* 900px */
    /* 600px */ }
    @media (max-width: 56.25em) {
      .popup-right {
        width: 100%; } }
    @media (max-width: 37.5em) {
      .popup-right {
        padding: 2rem; } }
  .popup-img {
    display: block;
    width: 100%; }
  .popup-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    /* 900px */
    /* 600px */ }
    @media (max-width: 56.25em) {
      .popup-text {
        margin-bottom: 4rem; } }
    @media (max-width: 37.5em) {
      .popup-text {
        column-count: 3;
        -moz-column-count: 3;
        margin-bottom: 3rem;
        column-gap: 3rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-close:link, .popup-close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup-close:hover {
    color: #55c57a; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    -moz-shape-outside: circle(50% at 50% 50%);
    -ms-shape-outside: circle(50% at 50% 50%);
    -o-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    -ms-clip-path: circle(50% at 50% 50%);
    -moz-clip-path: circle(50% at 50% 50%);
    -o-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    /* 600px */ }
    @media (max-width: 37.5em) {
      .story-shape {
        transform: translateX(-3rem) skewX(0); } }
  .story-img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .4s; }
  .story-text {
    transform: skewX(12deg);
    /* 600px */ }
    @media (max-width: 37.5em) {
      .story-text {
        transform: skewX(0); } }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
    -moz-filter: blur(3px) brightness(80%);
    -ms-filter: blur(3px) brightness(80%);
    -o-filter: blur(3px) brightness(80%);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer-logo-box {
    text-align: center;
    margin-bottom: 6rem;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .footer-logo-box {
        margin-bottom: 6rem; } }
  .footer-logo {
    width: 15rem;
    height: auto; }
  .footer-navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .footer-navigation {
        width: 100%;
        text-align: center; } }
  .footer-list {
    list-style: none; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-link {
    transition: all .2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #333; }
    .footer-link:link, .footer-link:visited {
      color: #f7f7f7;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .footer-link:hover, .footer-link:active {
      color: #55c57a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
  .footer-copyright {
    color: #f7f7f7;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .footer-copyright {
        width: 100%;
        text-align: center;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* 900px */ }
  .row:not(:last-child) {
    margin-bottom: 8rem;
    /* 900px */ }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    /* 900px */ }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem;
      /* 900px */ }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* 600px */ }
  @media (min-resolution: 192dpi) and (min-width: 600px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (min-width: 1200px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header .logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header .logo {
    height: 35px; }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.25em) {
    .navigation-button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation-button {
      top: 3rem;
      right: 3rem; } }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  /* 900px */
  /* 600px */ }
  @media (max-width: 56.25em) {
    .navigation-background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation-background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  .navigation-link:link span, .navigation-link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  visibility: visible;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
  /* 900px */ }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative;
  /* 900px */ }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  /* 900px */ }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  /* 1200px */
  /*@include respond(tbport) {
		
		background-image: linear-gradient(to right,rgba($color-white,.9) 0%,rgba($color-white,.9) 100%) , url(../img/nat-10.jpg);

	}*/ }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
      background-size: cover; } }
  .book-form {
    width: 50%;
    padding: 6rem;
    /* 1200px */
    /*@include respond(tbland) {
			width: 100%;
		}*/ }
    @media (max-width: 75em) {
      .book-form {
        width: 100%; } }
