.bg-image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .15;
	overflow: hidden;

	&-content {
		height: 100%;
		width: 100%;
		background-image: url(../img/nat-1-large.jpg);
		background-size:cover;
	}
}