.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 52rem;

	.side {
		height: 52rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

		&-front {
			background-color: $color-white;
		}

		&-rear {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
			}
			&-2 {
				background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
			}
			&-3 {
				background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
			}
		}

	}

	&:hover .side-front {
		transform: rotateY(-180deg);
	}
	&:hover .side-rear {
		transform: rotateY(0);
	}

	.picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen;
		clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
		-webkit-clip-path: polygon(0 0,100% 0,100% 85%,0 100%);

		&-1 {
			background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark), url(../img/nat-5.jpg);
		}

		&-2 {
			background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark), url(../img/nat-6.jpg);
		}

		&-3 {
			background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark), url(../img/nat-7.jpg);
		}

	}

	.heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-align: right;
		text-transform: uppercase;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}

	.heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		-moz-box-decoration-break: clone;
		box-decoration-break: clone;
		&-1 {
			background-image: linear-gradient(to right bottom,rgba($color-secondary-light,.85),rgba($color-secondary-dark,.85));
		} 

		&-2 {
			background-image: linear-gradient(to right bottom,rgba($color-primary-light,.85),rgba($color-primary-dark,.85));
		}

		&-3 {
			background-image: linear-gradient(to right bottom,rgba($color-tertiary-light,.85),rgba($color-tertiary-dark,.85));
		}
	}

	.details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;
			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid #eee; 
				}
			}
		}
	}

	.cta {
		position: absolute;
		@include center-hor-ver;
		width: 90%;
		text-align: center;
	}

	.price-box {
		text-align: center;
		color: $color-white;
		margin-bottom: 8rem;
	}

	.price-only {
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	.price-value {
		font-size: 6rem;
		font-weight: 100;
	}


	@include respond(tbport) {

		height: auto;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
		background-color: $color-white;

		.side {
			height: auto;
			position: relative;
			box-shadow: none;

			&-rear {
				transform: rotateY(0);
				-moz-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
				-ms-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
				-o-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
				-webkit-clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
				clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
			}

		}

		.details {
			padding: 1rem 3rem;
		}

		&:hover .side-front {
			transform: rotateY(0);
		}

		.cta {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0);
			width: 100%;
			padding: 7rem 4rem 4rem 4rem;
		}

		.price-box {
			margin-bottom: 3rem;
		}

		.price-value {
			font-size: 4rem;
			font-weight: 300;
		}


	}


}