.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&-main {
		display: block;
		margin-left: 1.1rem;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;

		@include respond(ph) {
			letter-spacing: 1rem;
			font-size: 5rem;	
		}

	}

	&-sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.7rem;
		animation: moveInRight 1s ease-out;

		@include respond(ph) {
			letter-spacing: .5rem;	
		}

	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: .2rem;
	transition: all .2s;
	cursor: pointer;

	@include respond(tbport) {
		font-size: 3rem;
	}

	@include respond(ph) {
		font-size: 2.5rem;	
	}


	&:hover {
		transform : skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
	}
}

.heading-tertiary {
	text-transform: uppercase;
	font-size: $font-size-basic;
	font-weight: 700;
}

.paragraph {
	font-size: $font-size-basic;

	&:not(:last-child){
		margin-bottom: 3rem;
	}
}